.wrapper {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px; */
    text-align: center;
    color: lightgray;
}

/* .buttonWrapper {
    display: flex;
    align-items: center;
}

.buttonRefresh {
    margin-right: 10px !important;
} */
